*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 450px;
    margin: 15px;
}

input, textarea {
    width: 350px;
    border: 1px solid black;
    padding: 3px;
}

textarea {
    height: 100px;
    resize: none;
}

#submitBtn {
    width: 100px;
    background-color: silver;
    border: 1px solid black;
    border-radius: 7px;
    padding: 3px;
    cursor: pointer;
}

#map {
    width: 350px; 
    height: 220px;
}

#result {
    width: 350px;
    margin: 15px;
    text-align: center;
}



